
<h4 style="color:#CFA700;">Contributors</h4>

<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <img src="~/Content/Images/Logo/spec-black-200.jpg" class="contributor-icon" data-toggle="tooltip" data-html="true" title="<strong>Spectres.Solutions Inc.</strong><br /><p>Software Development Firm</p><strong>Description:</strong><br /><p>A design-led software development firm that specializes in cloud solutions. Spectres scales up businesses with bots, apps, sites, systems and software.</p>" />
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <p>We are looking for more contributors both from private and government sectors. To be one of the contributors, click the link below</p>

        <p class="text-center">
            <a href="https://github.com/SpectresPH/TRAIN-Calculator">https://github.com/SpectresPH/TRAIN-Calculator</a>
        </p>
    </div>

</div>