@{
    ViewBag.Title = "About";
}
<h4>About Us</h4>

<p>TRAIN Law Calculator is a web app that calculates the Withholding tax of a non-government employee according to the recently implemented <a href="http://www.dof.gov.ph/taxreform/">TRAIN</a>(Tax Reform Acceleration and Inclusion) Law in the Philippines. This web app's algorithm will be the basis of the upcoming open-source software library called TRAIN Engine PH.</p>
